extends ../layout.pug

block content
  -
    const formatDate = (date, needTime) => {
      const newdate = new Date(date);
      const formatMonth = (m) => {
        if (m < 10) {
          return `0${m}`;
        }
        return m;
      };
      if (needTime) {
        return `${formatMonth(newdate.getUTCDate())}.${formatMonth(newdate.getMonth() + 1)}.${newdate.getUTCFullYear()} ${newdate.getHours()}:${newdate.getMinutes()}`;
      }
      return `${formatMonth(newdate.getUTCDate())}.${formatMonth(newdate.getMonth() + 1)}.${newdate.getUTCFullYear()}`;
    }
  main
    section.post
      h1.visually-hidden Пост
      section.post__content
        h2.visually-hidden Основное содержание
        .post__wrapper
          .post__head
            if previousPage
              a.post__backwards.button.button--backwards(href=`${previousPage}`) Назад
            if !previousPage
              a.post__backwards.button.button--backwards(href=`/`) Назад
            time.post__date(datetime=`#{article.createdAt}`) #{formatDate(article.createdAt)}
            h2.post__title.title.title--main #{article.title}
            ul.post__themes.themes
              each category in article.categories
                li.themes__item
                  a.themes__item-link(href='/articles/category/'+category.id)
                    | #{category.name}
                    sup #{category.count}
                  button.themes__remove-btn(type='button') Удалить категорию
          if article.picture        
            .post__picture
              img(src=`img/${article.picture}` alt=`${article.picture}`)
          .post__text
            h3 #{article.title}
            p
              | #{article.text}
      .post__wrapper.post__wrapper--comments
        section.post__comments.comments
          if article.comments
            h2.comments__title.title.title--middle Комментарии
            ul.comments__list
              each comment in article.comments
                li.comments__comment
                  if comment.User.avatar
                    .comments__avatar.avatar
                      img(src=`img/avatars/${comment.User.avatar}` alt='аватар пользователя')
                  .comments__text
                    .comments__head
                      p #{comment.User.firstName} #{comment.User.lastName}•
                      time.comments__date(datetime='2019-03-21T20:33') #{formatDate(comment.createdAt, true)}
                    p.comments__message #{comment.text}
          else
            h2.comments__title.title.title--middle Комментарии отсутствуют
          if user
            .comments__footer.comments__footer--user           
              form(action=`/articles/${article.id}/comments` method='POST' enctype='multipart/form-data')
                if user.avatar
                  .comments__avatar.avatar
                    img(src=`img/avatars/${user.avatar}` alt='аватар пользователя')
                label
                  textarea(rows='1' name='text' required='true' placeholder='Присоединиться к обсуждению')
                button.comments__button.button.button--colored(type='submit') Опубликовать
                if errorMessages           
                  .form__validation-error
                    p.form__error-message При добавлении комментария произошли ошибки:
                    ul.form__errors
                      each error in errorMessages
                        li.form__error #{Object.values(error)}
          else
            .comments__footer.comments__footer--visitor
              button.comments__button.button.button--colored(type='submit')
                a(href='/login') Войти
              .comments__registration
                p.text.text--signature
                  b.title.title--small Регистрация
                  | Чтобы присоединиться к
                  |                   переписке
                  |                   нужно зарегистрироваться

